body {
    background-color: #80e732;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #ff5c00;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ping-combat button:hover {
    transform: scale(1.1);
}

.ping-combat button:active {
    transform: scale(0.9);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ping-combat button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    background-color: #80e732;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.score {
    color: black;
    font-weight: 700;
}

.score #click-count {
    color: red;
    font-weight: 900;
}
